@import "./reset.scss";
@import './root.scss';

@font-face {
    font-family: "Noto Sans SC";
    src: url("/font/siyuanheiti/SourceHanSansSC-Heavy-2.otf") format("opentype");
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: "Noto Sans SC";
    src: url("/font/siyuanheiti/SourceHanSansSC-Bold-2.otf") format("opentype");
    font-weight: 700;
    font-weight: bold;
}


@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Black.otf") format("opentype");
}

@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Light.otf") format("opentype");
}

@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: "alibaba";
    src: url("/font/alibaba/AlibabaSans-Regular.otf") format("opentype");
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/font/glyphicons-halflings-regular.eot');
  src: url('/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/font/glyphicons-halflings-regular.woff') format('woff'), url('/font/glyphicons-halflings-regular.ttf') format('truetype'), url('/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
 
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}